@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Kaku+Gothic+Antique&display=swap');


body {
    overflow-x: hidden;
}

.home-wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #E9FEFF 0%, #FFFFFF 100%);
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    box-sizing: border-box;
}

/* Text content */
.hero-content {
    text-align: center;
    background:transparent;
    padding: 2vh 2vw;
    border-radius: 12px;
    z-index: 10;
    font-family: "Zen Kaku Gothic Antique", serif;
}

.hero-content h1 {
    font-size: 3vw;
    font-weight: 900;
    color: #1A1A1A;
    margin: 0;
    font-family: "Zen Kaku Gothic Antique", serif;
}

.hero-content p {
    font-size: 1.2vw;
    font-weight: 700;
    color: #3C3C3C;
    margin-top: 3vh;
    font-family: "Zen Kaku Gothic Antique", serif;
}

.order-btn {
    background: #1177FF;
    color: white;
    padding: 1.2vh 1.5vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 2vh;
    font-family: "Zen Kaku Gothic Antique", serif;
}

/* Image section */
.hero-graphics {
    width: 100%;
    margin-top: -40vh;
}

.hero-graphics img {
    width: 100%;
    height: auto;
}

/* Search */
.search-area {
    margin-top: -25vh;
    display: flex;
    justify-content: center;
}

/* Responsive */
@media screen and (max-width: 500px) {
    body {
      overflow-x: hidden;
    }
    .home-wrapper {
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, #E9FEFF 0%, #FFFFFF 100%);
        font-family: "Zen Kaku Gothic Antique", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        box-sizing: border-box;
    }

    /* Text content */
    .hero-content {
        text-align: center;
        background:transparent;
        padding: 2vh 2vw;
        border-radius: 12px;
        z-index: 10;
        font-family: "Zen Kaku Gothic Antique", serif;
    }

    .hero-content h1 {
        font-size: 2vh;
        font-weight: 900;
        color: #1A1A1A;
        margin: 0;
        font-family: "Zen Kaku Gothic Antique", serif;
    }

    .hero-content p {
        font-size: 2vh;
        font-weight: 700;
        color: #3C3C3C;
        margin-top: 3vh;
        font-family: "Zen Kaku Gothic Antique", serif;
    }

    .order-btn {
        background: #1177FF;
        color: white;
        padding: 1.2vh 2vw;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 1.5vh;
        font-weight: 500;
        margin-top: 1vh;
        font-family: "Zen Kaku Gothic Antique", serif;
        margin-bottom: 2vh;
    }

    /* Image section */
    .hero-graphics {
        width: 100%;
        margin-top: -10vh;
    }

    .hero-graphics img {
        width: 100%;
        height: auto;
    }

    /* Search */
    .search-area {
        margin-top: -5vh;
        display: flex;
        justify-content: center;
    }

}

